
.admin-login-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f2f5;
  z-index: 9999;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.admin-login-box {
  width: 450px;
    
  padding: 2.5rem;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
}

.admin-login-title {
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.admin-login-form {
  display: flex;
  flex-direction: column;
}

.admin-login-input {
  padding: 0.9rem 1.1rem;
  font-size: 1rem;
  margin-bottom: 1rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: #333;
  color: white;
}

.admin-login-input::placeholder {
  color: #ccc;
}

.admin-login-button {
  padding: 0.9rem;
  margin-top: 5%;
  font-size: 1rem;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.admin-login-button:hover {
  background-color: #45a049;
}

.admin-login-error {
  color: red;
  text-align: center;
  margin-top: 10px;
}
